<ion-content>
  <ion-slides pager style="height: 100%; width: 100%">

    <ion-slide>
      <img src="assets/images/slide-1.png" alt="" class="slide_image">
      <br>
      <h2>Slide <strong>aqui</strong>10</h2>
    </ion-slide>

    <ion-slide>
      <img src="assets/images/slide-2.png" alt="" class="slide_image">
      <h2>Slide 20</h2>
    </ion-slide>

    <ion-slide>
      <img src="assets/images/slide-3.png" alt="" class="slide_image">
      <h2>Slide 30</h2>
    </ion-slide>

    <ion-slide>
      <a (click)="goToTabsPage()">Continuar</a>
    </ion-slide>

  </ion-slides>
</ion-content>